.button {
    width: 160px;
    height: 40px;
    background: #6f4e37;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: 0px solid black;
    box-shadow: 0px 0px 3px 1px rgba(20, 20, 20, 0.4);
    box-sizing: border-box;
    border-radius: 2px;
    filter: none;

    transition: 0.5s all;
}

.button:hover, .button:focus {
    filter: brightness(80%);
}

.button:active {
    box-shadow: none;
    border: 3px solid black;
}
