.input {
    margin: 0;
    padding: 10px;
    width: 100%;
    height: 50px;
    font-size: 20px;

    border: 1px solid #6f4e37;
    border-radius: 2px;
    outline: none;
    background: white;
}

.input:focus {
    border-width: 2px;
}